<!DOCTYPE html>
<html lang="en">
<head>
    <title>PE Tracker</title>
    <meta charset="utf-8">
</head>
<body>
  <h1>PE Tracker</h1>
  <% tasks.forEach(function(r) {%>
    <div style="position: relative; padding: 5px;">
    <button id='<%= r.id %>'
      onClick='javascript:logTask(<%= r.id %>, value<%= r.id %>.value);'><%= r.name %>
    </button> 
    <select name="value<%= r.id %>" id="value<%= r.id %>">
      <option value="'+00:01:00'">00:01:00</option>
      <option value="'+00:02:00'">00:02:00</option>
      <option value="'+00:03:00'">00:03:00</option>
      <option value="'+00:05:00'">00:05:00</option>
      <option value="'+00:10:00'">00:10:00</option>
      <option value="'+00:15:00'">00:15:00</option>
      <option value="'+00:20:00'">00:20:00</option>
    </select>
  </div>


  <% }); %>  
  <script>
    let currentTaskId = null;


    const logTask = async function(id, duration) {
      const response = await fetch('/log', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          users_id: -1,
          students_id: -1,
          tasks_id: id,
          duration: duration
        })

      });
      const result = await response.json();
      console.log(result);

      currentTaskId = id;

    };
  </script>

</body>
</html>